.background {
  height: 40em;
  background-image: url('images/hero-image.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bg-icon {
  width: 3rem;
}
.nav-link:hover {
  border-bottom: 3px solid red;
}
.heading {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
.buy-button {
  border-top: 50px solid red;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 12rem;
  cursor: pointer;
  margin-bottom: 10rem;
}
@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}
